/*Quicksand-Bold*/
@font-face {
    font-family:"Quicksand-Bold";
    src: local("☺"), url("../fonts/quicksand/Quicksand-Bold.otf") format("opentype");
}
@font-face {
    font-family:"Quicksand-BoldItalic";
    src: local("☺"), url("../fonts/quicksand/Quicksand-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family:"Quicksand_Dash";
    src: local("☺"), url("../fonts/quicksand/Quicksand_Dash.otf") format("opentype");
}
@font-face {
    font-family:"Quicksand-Italic";
    src: local("☺"), url("../fonts/quicksand/Quicksand-Italic.otf") format("opentype");
}
@font-face {
    font-family:"Quicksand-Light";
    src: local("☺"), url("../fonts/quicksand/Quicksand-Light.otf") format("opentype");
}
@font-face {
    font-family:"Quicksand-LightItalic";
    src: local("☺"), url("../fonts/quicksand/Quicksand-LightItalic.otf") format("opentype");
}

/*Edmondsans-bold*/
@font-face {
    font-family:"Edmondsans-bold";
    src: local("☺"), url("../fonts/edmondsans/edmondsans-bold-webfont.woff") format("woff");
}

/*Governor*/
@font-face {
    font-family:"Governor";
    src: local("☺"), url("../fonts/Governor/governor.ttf") format("truetype");
}
/*KlinicSlabBook*/
@font-face {
    font-family:"KlinicSlabBook";
    src: local("☺"), url("../fonts/KlinicSlab/KlinicSlabBook.otf") format("opentype");
}
/*KlinicSlabMedium*/
@font-face {
    font-family:"KlinicSlabMedium";
    src: local("☺"), url("../fonts/KlinicSlab/KlinicSlabMedium.otf") format("opentype");
}
/*KlinicSlabBold*/
@font-face {
    font-family:"KlinicSlabBold";
    src: local("☺"), url("../fonts/KlinicSlab/KlinicSlabBold.otf") format("opentype");
}

/*MavenProLight-100*/
@font-face {
    font-family:"MavenProLight-100";
    src: local("☺"), url("../fonts/MavenPro/MavenProLight-100.otf") format("opentype");
}
/*MavenProLight-200*/
@font-face {
    font-family:"MavenProLight-200";
    src: local("☺"), url("../fonts/MavenPro/MavenProLight-200.otf") format("opentype");
}
/*MavenProLight-300*/
@font-face {
    font-family:"MavenProLight-300";
    src: local("☺"), url("../fonts/MavenPro/MavenProLight-300.otf") format("opentype");
}

/*OilCan*/
@font-face {
    font-family:"OilCan";
    src: local("☺"), url("../fonts/OilCan/Oil Can.ttf") format("truetype");
}

/*Sullivan-Bevel*/
@font-face {
    font-family:"Sullivan-Bevel";
    src: local("☺"), url("../fonts/Sullivan/Sullivan-Bevel.otf") format("opentype");
}
/*Sullivan-Fill*/
@font-face {
    font-family:"Sullivan-Fill";
    src: local("☺"), url("../fonts/Sullivan/Sullivan-Fill.otf") format("opentype");
}

/*Sullivan-Regular*/
@font-face {
    font-family:"Sullivan-Regular";
    src: local("☺"), url("../fonts/Sullivan/Sullivan-Regular.otf") format("opentype");
}

/*Tommaso*/
@font-face {
    font-family:"Tommaso";
    src: local("☺"), url("../fonts/Tommaso/Tommaso.otf") format("opentype");
}
