body {
    background-image:url('../img/background-2880x1917.JPG');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right;
    background-size: cover;
    height: 3000px;
}
#nameDiv {
    font-family: Quicksand_Dash;
    /*float: right;*/
    color: white;
    font-variant: small-caps;
    font-size:550%;
    margin-top: 3%;
    display: block;
    /*text-decoration: underline;*/
}
#nameSpan {
    /*CAN ALSO DO THE CURVED THING*/
    border-bottom-style: double;
    border-bottom-color: rgba(184, 198, 236, 0.44);
    border-width: 10px;
    border-radius: 29px;
}
#shortBlurb {
	color: white;
	font-family: Quicksand-Light;
	width: 365px;
	padding-top: 5%;
	text-align: justify;
	font-size: 23px;
}
#renameLaterContainer {
	float: right;
}

.container {
	text-align: center;
	width: 50%;
}

.container div{
	display: inline-block;
}