body {
    font-family: EB Garamond;
    background: rgba(150, 150, 150, 0.17);
    color: rgb(61, 61, 61);
}
#title {
    font-size: 5em;
    font-weight: 100;
    margin-bottom: 0em;
}
#subtitle {
    font-size: 3em;
    font-weight: 100;
    margin-top: 0em;
    
}

.container {
    text-align: center;
    margin-top: 200px;
}
hr {
    width: 315px;
}