body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Source Sans Pro',sans-serif;*/
    /*font-family: 'Lato',sans-serif;*/
    /*font-family: 'Roboto',sans-serif;*/
    /*font-family: 'Montserrat',sans-serif;*/
}
.pure-menu-heading {
    height: 110px;
    background-image: url("../../img/logo.png");
    background-position: center;
    background-size: 91%;
    background-repeat: no-repeat;
}
.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    background: none;
    text-decoration: underline;
}
#header-firstname {
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 0em;
    display: inline-block;
}
#header-lastname, #header-section {
    font-weight: 100;
    margin-top: -25px;
    letter-spacing: 0em;
    font-size: 1.4em;
    display: inline-block;
}
#header-divider {
    padding: 0px 12px 0px;
    font-size: 1.2em;
    opacity: 0.3;
    margin-right: 28px;
    border-right: 1px solid #000;
    text-decoration: none;
    display: inline;
}
.content-subhead {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1em;
}
.content-subtitle {
    letter-spacing: 0em;
    font-weight: 100;
    font-weight: 300;
    color: #4E4E4E;
    margin: 65px 0px 15px 0;
}
.pullout {
    display: inline-block;
    font-size: 8.6em;
    font-variant: small-caps;
}
#pullout-1 {
    color: #69F46A;
    mix-blend-mode: multiply;
}
#pullout-2 {
    color: #FCE602;
    mix-blend-mode: multiply;;
}
#pullout-3 {
    color: #FA4DE4;
    mix-blend-mode: multiply;
}
#pullout-4 {
    color: rgb(14, 197, 229);
    mix-blend-mode: multiply;
}
.content-smallheading {
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    color: rgba(26, 26, 26, 0.8);
}
.content-subtext {
    font-size: 0.85em;
}
.content-first {
    margin-top: 120px;
    margin-bottom: 40px;
}
#about-typedesign {
    line-height: 0em;
}
.home-title {
    font-size: 1.6em;
    line-height: 1em;
    padding-top: 30px;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0.14em;    
}